div.service {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 25vh;
  height: 25vh;

  margin-right: 6vh;
  margin-block: 6vh;

  padding: 4vh;
  border-radius: 2vh;

  background-color: #ffd100;
  box-shadow: 0vh 0vh 1vh 0.3vh #00000033;
}

div.service img {
  width: 100%;
}

div.service p {
  color: #0144b5;
  font-family: "OmnesBoldRoman", sans-serif;
  text-align: center;
  font-size: 3vh;
}

@media screen and (max-width: 768px) {
  div.service {
    margin-right: 0;
  }
}
