div.services-wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

@media screen and (max-width: 920px) {
  div.services-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  div.services-wrapper {
    flex-direction: column;
  }
}
