div.services-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin: auto;

  justify-content: space-between;
  align-items: center;

  row-gap: 4vh;

  margin-bottom: 8vh;
}

@media screen and (max-width: 920px) {
  div.services-wrapper {
    justify-content: center;
    column-gap: 4vh;
  }
}

@media screen and (max-width: 768px) {
  div.services-wrapper {
    flex-direction: column;
  }
}
