/* INLINE WRAPPER */

div.inline-wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 82vw;

  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 920px) {
  div.inline-wrapper {
    margin-top: -5%;
  }
}

/* BLUE BANNER   */

div.blue-banner {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  flex: 1;
  width: 50%;
}

div.blue-banner h1 {
  font-size: 6vh;
  margin-top: -3vh;
}

div.blue-banner h1.yellow-quote {
  font-size: 12vh;
  color: #ffd100;
  font-family: "Times New Roman',Times, 'Nimbus Roman No9 L', 'Liberation Serif', serif, georgia";
  font-weight: bold;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  div.blue-banner {
    width: 100%;
    padding: 0;
    padding-block: 5vh;
  }
}
