div.logo-slider {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

div.logo-slider div {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

img.logo {
  opacity: 0%;
  position: absolute;

  filter: grayscale(100%);
  transition: 0.2s all;
}

img.logo:hover {
  filter: grayscale(0%);
}

img.logo.active {
  position: static;
  opacity: 100%;
}

@media screen and (max-width: 780px) {
  img.logo {
    position: static;
    opacity: 100%;

    filter: grayscale(100%);
  }

  img.logo:hover {
    filter: grayscale(0%);
  }

  div.logo-slider .dot {
    display: none;
  }
}
