@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

div.logo-slider {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

div.logo-slider div.sliders {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 80%;
  overflow: hidden;
}

img.logo {
  opacity: 0%;
  position: absolute;

  filter: grayscale(100%);
  transition: 0.2s all;

  width: 0;
}

img.logo:hover {
  filter: grayscale(0%);
}

div.logo-slider a {
  display: none;
}

div.logo-slider a.active {
  display: block;
}

div.logo-slider a.active img.logo {
  position: static;
  opacity: 100%;
  width: fit-content;

  animation: fadeIn 0.2s;
}

@media screen and (max-width: 780px) {
  div.logo-slider a {
    display: block;
  }
  div.logo-slider div.sliders {
    flex-wrap: wrap;
    justify-content: center;
  }
  img.logo {
    width: fit-content;
    position: static;
    opacity: 100%;

    filter: grayscale(100%);
  }

  img.logo:hover {
    filter: grayscale(0%);
  }

  div.logo-slider .dot {
    display: none;
  }
}
