header .mobile-background {
  position: absolute;

  display: flex;

  width: 0%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);

  justify-content: flex-end;

  opacity: 0%;
  transition: 0.3s all;

  z-index: -99;
}

header .mobile-background.active {
  width: 100%;

  opacity: 100%;
}

header .hamburguer {
  z-index: 999;
}

header .mobile-menu {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;

  padding-block: 5vh 20vh;

  width: 0%;

  background-color: #ffd100;
}

header .mobile-background.active .mobile-menu {
  min-width: 50vw;
  max-width: 70%;
}

header .mobile-menu nav.options {


  width: 100%;
}

header .mobile-menu nav.options ul {
  display: flex;

  align-items: center;

  flex-direction: column;
}

header .mobile-menu a {
  color: #0144b5;
  font-family: "OmnesBoldRoman";

  font-size: 2.5vh;
}

header .mobile-menu img {
  width: 70%;
}

header .mobile-menu nav.options li {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 80%;
  text-align: center;

  border: 2px solid orange;
  padding: 1vh;

  border-radius: 1vh;

  margin-block: 1vh;
}

header .mobile-menu ul.social-medias {
  display: flex;

  width: 80%;

  justify-content: space-evenly;
}

header .mobile-menu ul.social-medias img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    position: fixed;
  }

  header div.default {
    display: none;
  }

  header div.mobile {
    display: flex;
    justify-content: flex-end;
  }

  /* HAMBURGER */
}
