/* FAKE-HEADER */

div.fake-header {
  display: none;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: 9999;

  width: 100%;
}

header div.mobile {
  display: none;
}

/* HEADER => SOCIAL MEDIA */

header div.social-media {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  height: 10vh;

  flex-grow: 1;
}

div.social-media ul {
  display: flex;
  margin-right: 5vw;
}

div.social-media ul li {
  width: 4vh;
  margin-inline: 1vh;
  list-style: none;
}

div.social-media ul li img {
  width: 100%;
}

/* HEADER => MENU */

header div.menu {
  display: flex;

  align-items: center;

  flex-grow: 1;
  background-color: #ffd100;

  padding: 1vh 2vh;
  padding-bottom: 2vh;
}

/* WRAPPER-LOGO */

.wrapper-logo {
  display: flex;

  justify-content: center;

  flex: 1;
}

.wrapper-logo img {
  width: 20vh;
  cursor: pointer;

  transition: 0.2s all;
}

.wrapper-logo img:hover {
  transform: scale(1.1);
}

/* WRAPPER-MENU */

.wrapper-menu {
  flex: 2;
}

.wrapper-menu ul.options {
  display: flex;

  justify-content: space-evenly;

  width: 100%;
  margin-top: 2vh;
}

.wrapper-menu ul.options a {
  color: #0144b5;
  font-family: "OmnesBoldRoman";

  transition: 0.2s all;
  font-size: 2.6vmin;
}

.wrapper-menu ul.options a:hover {
  transform: scale(1.05);
}

.wrapper-menu ul.options a:hover > div.underline {
  width: 100%;
}

/* UNDERLINE */

div.underline {
  width: 0;
  height: 4px;

  margin-top: 1vh;

  background-color: rgb(255, 81, 0);

  border-radius: 5vh;
  transition: 0.6s all;
}

/* SUB-OPTIONS */

ul.sub-options {
  display: flex;
  flex-direction: column;

  background-color: #0144b5;

  position: absolute;
  margin-top: 5vh;

  width: 50%;
}

ul.sub-options a {
  color: white;
}