@media screen and (max-width: 920px) {
  .timeline-wrapper {
    flex-direction: column;
  }

  .timeline-wrapper .sections {
    margin-top: 5vh;
  }
}

@media screen and (max-width: 768px) {
  .timeline-wrapper .icons {
    display: none;
  }

  .timeline-wrapper .description {
    overflow: visible;
  }
}
