div.info-box {
    width: 30vh;
    height: 30vh;

    z-index: 99;

    margin: 2vh;
    padding: 4vh;

    border-radius: 2vh;
    
    -webkit-filter: drop-shadow(1vw 0px 0px black); /* Chrome, Safari, Opera */
    filter: drop-shadow(-1vw 5vh 1vw rgba(0, 0, 0, 0.384));

    color: white;
}

div.info-box h2 {
    font-size: 3vh;
    margin-bottom: 3vh;
}

div.info-box p {
    font-size: 2.4vh;
}