div.info-box {
  width: 38vh;
  height: 32vh;

  z-index: 99;

  margin: 2vh;
  padding: 4vh;

  border-radius: 2vh;

  -webkit-filter: drop-shadow(
    -1vw 2vh 1vw rgba(0, 0, 0, 0.384)
  ); /* Chrome, Safari, Opera */
  filter: drop-shadow(-1vw 2vh 1vw rgba(0, 0, 0, 0.384));

  color: white;
}

div.info-box h2 {
  margin-bottom: 3vh;
}
