@import url("./assets/fonts/stylesheet.css");

* {
  margin: 0;
  padding: 0;

  font-family: "Omnes Regular Roman", sans-serif;
}

body,
:root {
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  font-family: inherit;
}

span.bold {
  color: #6e6e6e;
  font-family: "OmnesBoldRoman", sans-serif;
}

span.yellow {
  color: #ffd100;
}

h1 {
  font-family: "OmnesBoldRoman", sans-serif;
  color: #0144b5;
  font-size: 7vmin;
}

h2 {
  font-family: "OmnesBoldRoman", sans-serif;
  font-size: 3.5vh;
}

h2.subtitle {
  color: #0144b5;
  font-size: 4vh;
  margin-block: 7vh;
}

p {
  font-family: "OmnesLight", sans-serif;
  font-size: 2.6vh;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

section {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin-bottom: 3vh;
}

section.full {
  width: 100%;
}

section.gray {
  background-color: #e5e6e7;
  padding-block: 4vh;
  margin-top: -3vh;
}

.center-content {
  justify-content: center;
  align-items: center;
}

div.fake-wrapper {
  display: flex;
  flex-direction: column;

  margin: auto;

  width: 80%;
}

@media screen and (max-width: 920px) {
  h2.subtitle {
    text-align: center;
  }
  div.fake-wrapper {
    width: 95%;
  }
}
